params {
    snv_samples_csv = 'affected_rows_snv_high_coverage.csv'   //20+ coverage probands only
    sv_samples_csv = 'affected_rows_sv_high_coverage.csv'   //20+ coverage probands only

    output_dir = 'vcf_compare_G4E_candidate_results'
    plot_script = 'scripts/plot_results.py'
    region_bed_file = 'DEE_EpilepsyGenes_v2024-09.sorted.chr.bed'
    ngs_fasta = 'Homo_sapiens_assembly38.fasta'
    lrs_fasta = 'GCA_000001405.15_GRCh38_no_alt_analysis_set.fna'
    vep_cache = 'vep-cache'
}
conda.enabled = true
process {
    executor = 'slurm'
    queue = 'regular'
    withName: run_som {
        cpus = 4
        memory = '16 GB'
    }
    withName: parse_som_output {
        cpus = 2
        memory = '4 GB'
    }
    withName: collect_counts {
        cpus = 1
        memory = '2 GB'
    }
    withName: plot_results {
        cpus = 2
        memory = '4 GB'
    }
}

executor {
    queueSize = 100
}
